<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>viewer</title>
</head>
<body>
<div class="container">
    <div class="topnav">
        <a  href="{{url_for('auth.chat')}}" target="_blank">Chat</a>
        <a class="active" href="">View</a>
        <a href="{{url_for('views.login')}}">Log out</a>
    </div>
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Streaming</h3>
            <img src="{{ url_for('auth.view_feed') }}" width="100%">
        </div>
    </div>
</div>
</body>
</html>